:root {
  --black: #33292b;
  --green: #a2d594;
  --orange: #d36149;
  --yellow: #d2873b;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--green);
}

/* DECLARING THE POSITIONS BEFOREHAND */
.cat,
.cat::before,
.cat::after,
.cat *,
.cat *::after,
.cat *::before {
  position: absolute;
  content: "";
}

/* MAIN CONTAINER */
.cat{
    width: 400px;
    height: 500px;
    border: 2px solid var(--black);
    position: absolute;
    margin: auto;
    top: 0;bottom: 0;right: 0;left: 0;
}

/* FACE */
.catface{
    width: 150px;
    height: 100px;
    background-color: var(--black);
    top: 130px;
    left: 90px;
    border-radius: 45px;
}

/* EAR */
.earL, .earR{
    z-index: -10;
}

/* LEFT EAR */
.earL{
    width: 0;
    height: 0;
    border-left: 40px solid var(--black);
    border-top: 40px solid transparent;
    top: -30px;
    left: 13px;
    transform: rotate(-10deg);
}

/* RIGHT EAR */
.earR{
    width: 0;
    height: 0;
    border-right: 40px solid var(--black);
    border-top: 40px solid transparent;
    top: -30px;
    left: 97px;
    transform: rotate(10deg);
}

/* EAR INNER STYLE */
.innerearL, .innerearR{
    z-index: -5;
}

/* LEFT EAR */
.innerearL{
    width: 0;
    height: 0;
    border-left: 20px solid var(--orange);
    border-top: 40px solid transparent;
    top: -40px;
    left: -40px;
    transform: rotate(-1deg);
}

/* RIGHT EAR */
.innerearR{
    width: 0;
    height: 0;
    border-right: 20px solid var(--orange);
    border-top: 40px solid transparent;
    top: -40px;
    left: 20px;
    transform: rotate(1deg);
}

/* EYES */
.eyes{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--yellow);
    filter: drop-shadow(60px 0 var(--yellow));
    top: 28px;
    left: 30px;
}

/* NOSE */
.nose{
    width: 0;
    height: 0;
    border-bottom: 8px solid var(--orange);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 60px;
    left: 66px;
    transform: rotate(180deg);
}

/* MOUTH */
.L1, .L2{
    width: 2px;
    height: 13px;
    background-color: var(--orange);
}
.L1{
    top: 66px;
    left: 68px;
    transform: rotate(45deg);
}

.L2{
    top: 66px;
    left: 76px;
    transform: rotate(-45deg);
}

/* BODY */
.body{
    width: 140px;
    height: 130px;
    background-color: var(--black);
    border-radius: 20px 70px 20px 20px;
    left: 25px;
    top: 83px;
    z-index: -10;
}

/* BODY > LEGS */
.legL{
    width: 25px;height: 40px;
    background-color: var(--black);
    top: 103px;
    border-radius: 0 0 10px 10px;
}

.legR{
    width: 25px;height: 40px;
    background-color: var(--black);
    top: 103px;
    left: 65px;
    border-radius: 0 0 10px 10px;
}

/* BODY > TAIL */
.tail{
    width: 150px;height: 20px;
    background-color: var(--black);
    top: 109px;
    left: 100px;
    border-radius: 0 10px 10px 0;
}

/* TAIL SPOT */
.tailspot{
    width: 15px;height: 15px;
    border-radius: 10px;
    background-color: white;
    right: 0;
    top: 3px;
}